# Azure az webapp deployment details
.azure
*_env
.DS_Store
.devcontainer/
.gitattributes
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.env
.venv
*/.venv
env/
venv/
app-env/


# NPM
npm-debug.log*
node_modules
static/

