.dashboard-container {
    display: flex;
    transition: width 0.5s;
}

.dashboard-btn-wrapper {
    flex: 1;
    padding: 20px 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.user_heading {
    display: flex;
    align-items: center;
    color: white;
    margin: 0;
}
.user_heading_login_btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.mic-action-btn {
    margin: 10px;
    background-color: transparent;
    border: 2px solid #83ccc6;
    color: #83ccc6;
    border-radius: 50px;
    font-size: 18px;
    min-width: 90px;
    padding: 10px;
    cursor: pointer;
}

.mic-action-btn:hover {
    background-color: #83ccc6;
    color: #000;
}

.menu_bar_icon {
    position: absolute;
    display: flex;
    background-color: transparent;
    border: none;
    right: 12px;
    top: 100px;
}
.logout_btn {
    background-color: transparent;
    border: 2px solid #83ccc6;
    color: #83ccc6;
    border-radius: 50px;
    display: flex;
    padding: 12px;
    cursor: pointer;
}

.logout_btn:hover {
    background-color: #83ccc6;
    color: #000;
}

.loading-text {
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.error-message {
    color: #fff;
    font-size: 18px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


.left-container{
    display: flex;
    flex: 2;
    flex-direction: column;
}

.dashboard_content{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
}