.box {
    position: absolute;
    top: 80%;
    left: 50%;
}

.object {
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.outline {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 8px solid #83ccc6;
    animation: pulse 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    position: absolute;
}

.mic_action_btn_container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.mic-icon {
    margin-top: 0px;
}
.mic-icon.with-menu {
    width: 50%;
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
        border: 65px solid #83ccc6;
    }
    50% {
        border: solid #83ccc6;
        opacity: 0.8;
    }

    90% {
        transform: scale(3.2);
        opacity: 0.2;
        border: 3px solid #83ccc6;
    }
    100% {
        transform: scale(3.3);
        opacity: 0;
        border: 1px solid #83ccc6;
    }
}

#delayed {
    animation-delay: 1.5s;
}

#circlein {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #83ccc6;
    padding: 10px;
}
